.input-nav{
    height: 40px;
    padding: 0 16px 0 8px;
    border-radius: 20px;
    border: 2px solid rgb(232, 232, 232);
    transition: border-color .2s ease-in-out;
}
.search-icon{
    width: 22px;
    height: 24px;
    opacity: .7;
    border-radius: 50%;
    background-size: 18px;
    transition: opacity .2s ease-in-out;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;

}
.magin-top-2{
    margin-top: -2px;
}
.btn-dangnhap{
    padding: 9px 20px;
    border-radius: 99px;
    color: #fff;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    font-weight: 600;
    cursor: pointer;
    transition: opacity .25s;

}
.nav-fix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-bottom: 1px solid #e8ebed;

}
.flex-important{
    display: flex !important;
    justify-content: space-between !important;
}
.slick-list {
    border-radius: 18px;
}
.backgr-1{
   
    overflow: hidden;
}
.text-slider{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 640px;
    max-width: 100%;
    padding: 0 36px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6;
}
.p-text{
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
}
.learn-free{
    text-align: center;
    display: inline-block;
    min-width: 124px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 16px;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 700;
    transition: ease .2s;
    text-decoration: none;
}
.slick-dots {
    display: flex !important;
    bottom: -40px !important;
    left: 48px !important;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}
body .slick-dots li {
    margin-right: 28px; /* Thêm khoảng cách giữa các dots */
}

body .slick-dots li:last-child {
    margin-right: 0; /* Loại bỏ khoảng cách cho dot cuối cùng */
}
body .slick-dots li button:before {
    content: "";
    width:40px;
    height: 8px;
    opacity: 1;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #dce0e3;
    transition: width .3s linear, background-color .3s linear;
}
body .slick-dots li.slick-active button:before {
    width: 50px;
     
    margin-left: -3px; /* Thêm khoảng cách giữa các dots */
    background-color: #9aa6af;
}
.slick-next:before, .slick-prev:before {

    color: #998282 !important;
}
._myLearn_vdbp4_31 {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    color: #333;
    background-color: transparent;
}
._actionBtn_vdbp4_112 {
    padding: 8px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
._actions_vdbp4_99 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: auto;
}
._action-icon_vdbp4_107 {
    color: #707070;
    font-size: 20px;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: currentColor;
}
._avatar-wrapper_vdbp4_124 {
    margin-left: 12px;
}

._avatar_hzxfy_1 {
    font-size: 3.2px;
    background: transparent;
    border-radius: 50%;
}
._avatar_vdbp4_124{
    width: 28px;
    border-radius: 50%;
}

.click-avatar{
        box-shadow: 0 -4px 32px #0003;
        padding: 4px 0px;
        position: absolute;
        right: 0;
        top: 36px;
        width: 230px;
        background: #fff;
        border-radius: 15px;
}
._username_12z5x_33 {
    font-size: 14px;
    color: #757575;
}
.gach-index{
    margin: 8px 0;
  
}
.avatar-min img{
    width: 50px;
    border-radius: 50%;
}
.ul-list{
    padding: 15px 30px;
}
.item-ul{
    font-size: 14px;
    color: #666;
    display: block;
    padding: 6px 0;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .btn-dangnhap{
        font-size: 0.9rem;
    }
    .btn-dangky{
        font-size: 0.9rem;
    }
   
}
@media screen and (max-width: 540px) {
    .slick-dots {
        bottom: -24px !important;
        left: 12px !important;
  
    }
}

@media screen and (max-width: 500px) {
.fz-20{
    font-size: 20px !important;
}
}
@media screen and (max-width: 436px) {
    .btn-dangnhap{
        padding: 5px 12px;
    }
    .input-nav {
        height: 37px;
        padding: 0 12px 0 8px;
        border-radius: 20px;
        border: 2px solid rgb(232, 232, 232);
        transition: border-color .2s ease-in-out;
    }
}
@media screen and (max-width: 400px) {
    .btn-dangnhap{
        padding: 5px 8px;
    }

}
@media screen and (max-width: 360px) {
    .btn-dangnhap{
        padding: 5px 1px;
    }
    .slick-dots {
        bottom: -32px !important;
        left: -3px !important;
  
    }
}